{% extends 'core/base.html' %}

{% block content %}


<div class="container mt-5"> 
<h1 class="text-warning mb-4 border-bottom">SERVICES</h1>

<div class="row text-white text-center mb-5 ">

    <div class="col-sm-4">
        <i class="fas fa-search-dollar i-colo fa-2x mb-3 "></i>
        <h3>SEO</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-palette i-colo fa-2x mb-3 "></i>
        <h3>Web Design</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-code i-colo fa-2x mb-3 "></i>
        <h3>Web Development</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    
</div>
<div class="row text-white text-center mb-5 ">

    <div class="col-sm-4">
        <i class="fab fa-android i-colo fa-2x mb-3 "></i>
        <h3>Android</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fab  fa-apple i-colo fa-2x mb-3 "></i>
        <h3>iOS</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fas  fa-ad  i-colo fa-2x mb-3 "></i>
        <h3>Advertising</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    
</div>
<div class="row text-white text-center mb-5 ">

    <div class="col-sm-4">
        <i class="fas fa-pencil i-colo fa-2x mb-3 "></i>
        <h3>Logo Design</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-database i-colo fa-2x mb-3 "></i>
        <h3>Hosting</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-code i-headset fa-2x mb-3 "></i>
        <h3>Support</h3>
        <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere labore non </p>
    </div>
    
</div>

</div>


{% endblock content %}