 {% extends 'core/base.html' %}



 {% block content %}
 <div class="container">
    <h1 class=" text-warning mb-5 border-bottom">SKILLS</h1>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:100%" area-voluenow="100" area-voluemin="0" aria-voluemax="100" >
                        100%%
                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">JavaScripte</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" area-voluenow="90" area-voluemin="0" aria-voluemax="100" >
                        90%%
                </div>
            </div>
        </div>
    </div>


    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Java Programming</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:50%" area-voluenow="50" area-voluemin="0" aria-voluemax="100" >
                        50%%
                </div>
            </div>
        </div>
        
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:99%" area-voluenow="99" area-voluemin="0" aria-voluemax="100" >
                        99%%
                </div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width:42%" area-voluenow="42" area-voluemin="0" aria-voluemax="100" >
                        42%%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" area-voluenow="90" area-voluemin="0" aria-voluemax="100" >
                        90%%
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Dart</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:42%" area-voluenow="42" area-voluemin="0" aria-voluemax="100" >
                        42%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Julia Programming</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:95%" area-voluenow="90" area-voluemin="0" aria-voluemax="100" >
                        90%%
                </div>
            </div>
        </div>

    </div>


 </div>
 {% endblock content %}